.edit-product-title {
  margin: 3rem 0 2rem 0;
  text-align: center;
}

.edit-product-title h2 {
  font-size: 2.2rem;
  display: inline-block;
  position: relative;
  z-index: 0;
}

.edit-product-title h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -30%;
  transform: translate(-50%, -50%);
  background-color: black;
  width: 60%;
  height: 0.3rem;
  z-index: 1;
}
