@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.feature {
  margin-top: 10vh;
}

.feature .title {
  margin: 4rem 0 2rem 0;
  text-align: center;
}

.feature .title h2 {
  font-size: 2rem;
  display: inline-block;
  position: relative;
  z-index: 0;
}

.feature .title h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -30%;
  transform: translate(-50%, -50%);
  background-color: black;
  width: 50%;
  height: 0.3rem;
  z-index: 1;
}

.product-grid {
  font-family: "Poppins", sans-serif;
  text-align: center;
  border-radius: 15px;
  border: 1px solid #e7e7e7;
  overflow: hidden;
  transition: all 0.4s ease-out;
  margin-bottom: 30px;
}
.product-grid:hover {
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.2);
}
.product-grid .product-image {
  position: relative;
}
.product-grid .product-image .a.image {
  display: block;
}
.product-grid .product-image img {
  width: 100%;
  height: auto;
}

.product-grid .product-links {
  width: 145px;
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  top: 65%;
  left: 50%;
  transition: all 0.4s ease 0s;
}
.product-grid:hover .product-links {
  opacity: 1;
  top: 50%;
}

.product-grid .product-content {
  padding: 12px 12px 15px;
  position: relative;
}
.product-grid .rating {
  padding: 0;
  margin: 0 0 8px;
  list-style: none;
}
.product-grid .rating .far {
  color: #808080;
}
.product-grid .title {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 15px;
}
.product-grid .title .a {
  color: #2c2c2c;
  transition: all 0.3s ease 0s;
}
.product-grid .title .a:hover {
  color: #78a206;
}
.product-grid .price {
  color: #78a206;
  font-size: 17px;
  font-weight: 600;
  display: block;
  transition: all 0.4s ease-in-out;
}

@media screen and (max-width: 1200px) {
  .product-grid {
    margin: 0 0 30px;
  }
}
