@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.shipping-page-container {
  font-family: Poppins;
}

.shipping-page-title {
  margin: 2rem 0 2rem 0;
  text-align: center;
}

.shipping-page-title h2 {
  font-size: 2rem;
  display: inline-block;
  position: relative;
  z-index: 0;
}

.shipping-page-title h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -30%;
  transform: translate(-50%, -50%);
  background-color: #243a6f;
  width: 60%;
  height: 0.3rem;
  z-index: 1;
}

.shipping-page-container .form-label {
  color: #1b3e8f;
}

.shipping-page-button {
  background-color: #243a6f;
}
.shipping-page-button:hover {
  background-color: #13203d;
}
